body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} 
.header {
    border-bottom: 1px solid #e7e9fc;
    
}
.header-div {
    display: flex;
    justify-content: space-between;
}

.hd-nav {
    display: flex;
    align-items: center;
}

img {
    display: block;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.hd-nav-logo {
    color: #2E2F42;
}

.hd-nav-l {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.hd-nav-l-i {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.hd-nav-l-i:last-child {
    margin-right: 0;
}


.hd-nav-l-i-a {
    text-decoration: none;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.hd-nav-l-i-a:hover, .hd-nav-l-i-a:focus  {
    color: #404BBF;
}


.hd-add-l {
    list-style-type: none;
    display: flex;
}

.hd-add-l-i {
    margin-right: 40px;
}

.hd-add-l-i:last-child {
    margin-right: 0;
}


.hd-add {
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hd-add-l-i-a {
    text-decoration: none;
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.hd-add-l-i-a:hover, .hd-add-l-i-a:focus {
    color: #404BBF;
}

/* #region Hero */

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-h {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.hero-bt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.hero-bt:hover,
.hero-bt:focus {
    background-color: #404BBF;
}
/* #endregion Hero */


/* #region Benefits */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sec-two {
    padding: 120px 0;
}

.sec-two-htwo {
    color: #2e2f42;
}

.sec-two-l {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.sec-two-l-i {
    width: calc((100% - 72px) / 4);
}

.sec-two-l-i-hthree {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.sec-two-l-i-p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion Benefits */

.sec-three {
    background-color: #F4F4FD;
}

.sec-three-htwo {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.sec-three-l {
    list-style-type: none;
}

.sec-three-l-i {
    background-color: #fff;
}

.sec-three-l-i-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.sec-three-l-i-p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sec-port-htwo {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.sec-port-l {
    list-style-type: none;
}

.sec-port-l-i-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.sec-port-l-i-p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.foot {
    background-color: #2E2F42;
}

.foot-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.foot-logo-span {
    color: #F4F4FD;
}

.foot-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}